/* ================================================= */
/* ===== Chat Widget Box ===== */
/* ================================================= */

.chat-widget {
    position: fixed;
    right: 24px;
    bottom: 100px;
    width: 360px;
    height: 660px;
    background: #ffffff;
    border-radius: 40px;
    box-shadow: 0 12px 32px rgba(0,0,0,0.2);
    z-index: 1001;
    flex-direction: column;
    padding: 16px;
    /* 살짝 올라오는 효과 */
    animation: chat-fade-up 0.25s ease;
    display: flex;  
    
  }
  /* ===== Chat Header ===== */
  .chat-header {
    height: 40px;
    padding: 16px;
    display: flex;
    font-size: 10pt;
    align-items: center;
    justify-content: space-between;
    font-weight: 800;
  }
  .chat-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
  }
  .chat-active{
    display: flex;
    align-items: center;
  }
  .chat-title {
    display: grid;
    flex-direction: column;
    margin-left: 10px; /* ← 오른쪽으로 살짝 이동 */
  }
  .chat-name {
    font-size: 14px;
    font-weight: 600;
  }
  .chat-notify {
    font-size: 12px;
    color: #777;
    font-weight: 500;
  }
  .chat-more {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
  
  }
  .chat-more img {
    width: 18px;
    height: 18px;
  }
  .chat-close {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding-right:1pt;
  }
  
  /* ===== Chat Body ===== */
  .chat-body {
    flex: 1;
    padding: 16px;
    font-size: 14px;
    color: #333;
    overflow-y: auto;     
  }
  .chat-bubble{
    max-width: 80%;
    background: #f3edff;
    border-radius: 16px;
    padding: 16px;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 12px;
  }
  .quick-actions {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
  /* 버튼 */
  .quick-btn {
    padding: 8px;
    border-radius: 20px;
    border: 2px solid #5b3fd9;
    background: white;
    color: #5b3fd9;
    font-size: 13px;
    cursor: pointer;
  }
  .chat-bottom {
    border-top: 1px solid #dbd6d6;
    padding: 12px 16px;
  }
  
  .chat-placeholder {
    color: #aaa;
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
  }
  
  .chat-bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .chat-bottom-icon {
    display: flex;
    gap: 12px;
  }
  .chat-bottom-icon img {
    width: 20px;
    height: 20px;
  }
  
  
  .chat-send {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #5b3fd9;
  }
  .chat-send img {
    width: 18px;
    height: 18px;
  }

  .chat-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
  }

  .company-info-options {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.info-option {
  background: #f2f2f2;
  border: none;
  padding: 8px 10px;
  border-radius: 6px;
  text-align: left;
  cursor: pointer;
}
